:root {
  --sl-color-white: hsl(224, 10%, 10%) !important;
  --sl-color-gray-1: hsl(224, 14%, 16%) !important;
  --sl-color-gray-6: hsl(224, 20%, 94%) !important;
  --sl-color-gray-7: hsl(224, 19%, 97%) !important;
  --sl-color-black: hsl(0, 0%, 100%) !important;
  --sl-color-bg-inline-code: hsl(224, 20%, 94%) !important;
  --sl-color-text: #1a1a1a !important;

  /* bootstrap fallback */
  --bs-gray-100: #f3f4f6;
  --bs-gray-300: #d1d5db;

}

pre {
  background: var(--sl-color-gray-6) !important;
  padding: 12px;
  border-radius: 6px;
}

code {
  background-color: var(--sl-color-gray-6) !important;
  color: #1a1a1a !important;
  padding: 3px;
  border-radius: 3px;
}


/* Note: emote css is manually copied from assets/scss/..., might introduce differences later on
if the main files at assets are modified, but it doesn't matter that much */

img.emote {
    display: inline;
    width: 1.55rem;
    height: auto;
    margin-bottom: 0.15rem;
}

img.smallemote {
    display: inline;
    height: 1.35rem;
    width: auto;
    margin-left: 2px;
    margin-bottom: 0.15rem;
}

img.largeemote {
    display: inline;
    width: 2.15rem;
    height: auto;
    margin-bottom: 0.1rem;
}

img.headingemote {
    display: inline-flex;
    height: 4rem;
    width: auto;
    vertical-align: middle;
    margin-bottom: 0rem;
}

h2 img.headingemote {
    height: 3rem;
}

.latest-guide-item h2 img.headingemote {
    height: 3rem;
    vertical-align: sub;
    margin: -3rem auto 0 auto;
    transform: translateY(0.5rem);
}

h4 img.headingemote {
    height: 2rem;
    transform: translateY(-0.05rem);
}